.wedge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: -1; /* behind hero content */
  overflow: hidden;
}

.wedge img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
